# Directories and Files
/provider_app/.expo
/provider_app/node_modules
/provider_app/package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
